.parent{
    display:grid; 
    grid-template-columns:200px auto;
    height: 100vh        
}

.left-panel{
    background-color:cadertblue; 
} 

.right-panel{
     background-color:antiquewhite
}
    

