*(margin:0;padding:0)

.parent{
    display:grid; 
    grid-template-columns:200px auto;
    height: 100vh;      
}

.left-panel{
    background-color:burlywood;
    
} 
h1{
    color:brown;
    text-align:center;
}

h2{color:brown;}
h3{
    margin:8px;
    color:brown;
}


#profilephoto{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 100%;
}

.right-panel{
    background-color: antiquewhite;
    border-style:dashed; 
    margin-left:10px;
            border-style:solid;
            border-width:10px;
            border-right-width:0.5px;
            border-color:black;
            border-radius: 30px;
            height: 100vh; 
}

  h3{
    background-color:burlywood;
    margin:10px;
  }

  h4{margin:10px}

   p{
    margin:10px;
    
    }

 

