Body {
  font-size: 110%
  background-color: black;
}

#top {
  background-color:#ccc;
  padding:20px;
}

header {
    text-align:center;
}

h1 {
  color:black
}

h2 {
  color:black;
  background-color:grey; 
 }

header {
  display:block;
}

footer {
    background-colorice-blue;
    text-align: center;
}


