#heading {
  font-family:sans-serif    
  background-color:black;
  color:white;
}

header {
    text-align:center;
}
header {
  display:block;
}

footer {
    background-colorice-blue;
    text-align: center;
}

Body {
  font-size: 110%
  background-color: #FCF7F8
}
