Body {
  font-size: 110%
  background-color: black;
}

#top {
  background-color:lime;
  padding:20px;
}

header {
    text-align:center;
}

h2 {
  color:blue 
 }

header {
  display:block;
}

footer {
    background-colorice-blue;
    text-align: center;
}


